html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(fuchsia,seagreen);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}